header.platformsHead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../../assets/images/CrossPlatformJumbotron.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }