<section class="bg-customers" id="customers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">You Are in Good Company...</h2>
        <hr class="my-4">
        <p class="mb-4">Service-Link has been successfully deployed at more than 100 utilities.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="http://www.itineris.net/">
          <img class="logo-image" src="../../assets/images/customers/Itineris_Logo.svg" alt="Itineris Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="https://www.bchydro.com/index.html">
          <img class="logo-image" src="../../assets/images/customers/BC_Hydro_Logo.svg" alt="BC Hydro Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="https://www.aquaamerica.com/">
          <img class="logo-image" src="../../assets/images/customers/Aqua_America_Logo.svg" alt="AQUA Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="https://www.vbgov.com/Pages/default.aspx">
          <img height=60 src="../../assets/images/customers/CVB_Logo.png" alt="CVB Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="http://www.anaheim.net/226/Public-Utilities">
          <img height=100 src="../../assets/images/customers/Anaheim_Logo.png" alt="Anaheim Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="https://ttec.co.tt/default/">
          <img height=60 src="../../assets/images/customers/TTEC_Logo.png" alt="TTEC Logo">
        </a>
      </div> -->
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="http://ssivt.com/">
          <img class="logo-image" src="../../assets/images/customers/SystemsSoftware_Logo.svg" alt="Systems and Software Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="https://www.advancedutility.com/">
          <img class="logo-image" src="../../assets/images/customers/Advanced_Logo.svg" alt="Advanced Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="http://www.harrisutilities.com/">
          <img class="logo-image" src="../../assets/images/customers/Harris_Logo.svg" alt="Harris Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto mb-5 text-center">
          <a href="https://beta.phila.gov/">
            <img class="logo-image" src="../../assets/images/customers/Philadelphia_Logo.svg" alt="Philadelphia Logo">
          </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
        <a href="https://www.coned.com/en">
          <img class="logo-image" src="../../assets/images/customers/ConEd_Logo.svg" alt="Consolidated Edison Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-5 text-center">
          <a href="https://www.sedata.com/">
            <img class="logo-image" src="../../assets/images/customers/SEDC_Logo.svg" alt="SEDC Logo">
          </a>
      </div>
    </div>
  </div>
</section>