<section class="bg-customers" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Who's Using Service-Link?</h2>
        <hr class="my-4">
        <p class="mb-4">Service-Link has been successfully deployed at more than 50 utilities.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <a href="https://www.coned.com/en">
          <img height=50 src="../../assets/images/portfolio/ConEd_Logo.svg" alt="Consolidated Edison Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto text-center">
        <a href="https://www.bchydro.com/index.html">
          <img height=60 src="../../assets/images/portfolio/BC_Hydro_Logo.svg" alt="BC Hydro Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto text-center">
        <a href="https://www.aquaamerica.com/">
          <img height=50 src="../../assets/images/portfolio/Aqua_America_Logo.svg" alt="AQUA Logo">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <a href="https://www.vbgov.com/Pages/default.aspx">
          <img height=60 src="../../assets/images/portfolio/CVB_Logo.png" alt="CVB Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto text-center">
        <a href="http://www.anaheim.net/226/Public-Utilities">
          <img height=100 src="../../assets/images/portfolio/Anaheim_Logo.png" alt="Anaheim Logo">
        </a>
      </div>
      <div class="col-lg-4 mx-auto text-center">
        <a href="https://ttec.co.tt/default/">
          <img height=60 src="../../assets/images/portfolio/TTEC_Logo.png" alt="TTEC Logo">
        </a>
      </div>
    </div>
  </div>
</section>
