<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Cloud Deployment</h2>
        <p>
          Service-Link provides a safe and dependable private cloud solution that ensures quick software deployment. Supporting the
          use of Azure and AWS deployments allow us to provide flexibility in the implementation of our private cloud software.
          This means our customers can choose the cloud-based service that’s strengths best suits their needs and desires.
          Whether a customer desires features such as failover clusters, log shipping, or Service-Link ensures that we can
          provide a cloud-based solution to accommodate these requirements. The versatility of cloud solutions offered by
          Service-Link ensures that customers will have access to a large variety of data centres across the world.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>On-Premise Deployment</h2>
        <p>
          Service-Link provides On-Premise deployment of our mobile software which gives customers greater control over their data
          and ensures its safety. On-Premise is a reliable and secure way of automating one’s workforce. With installation
          and configuration of our On-Premise solution provided by us, this solution is an excellent choice if a customer
          desires more control over the implementation process and increased customisability of their software.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 3%">
      <div class="d-none d-lg-block col-6 text-center">
        <img alt="Microsoft Azure" class="img-fluid rounded" src="../../assets/images/portfolio/microsoft_azure.svg">
      </div>
      <div class="d-none d-lg-block col-6 text-center">
        <img alt="Amazon Web Services" class="img-fluid rounded" src="../../assets/images/portfolio/amazon_services.svg">
      </div>
    </div>
  </div>
</section>
