<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Platfrom Independent</h2>
        <p>
          Service-Link mobile integration offers support for a myriad of devices depending on the desires of the customer. We provide
          both multi-platform support – for iOS, Android, and Windows devices – and also multi-generational support. This
          allows our software to be used on cheaper and older devices, meaning mobile deployment with Service-Link is comparatively
          cheap. Service-Link also provides mobile solutions integrated with software such as SAP, EnQuesta, and Banner to
          allow for variability and versatility in mobile solutions to fit the customer’s context and desires.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 3%">
      <div class="d-none d-lg-block col-4 text-center">
        <img alt="Microsoft" class="img-fluid rounded" src="../../assets/images/portfolio/windows_logo.svg">
      </div>
      <div class="d-none d-lg-block col-4 text-center">
        <img alt="Android" class="img-fluid rounded" src="../../assets/images/portfolio/android_logo.svg">
      </div>
      <div class="d-none d-lg-block col-4 text-center">
          <img alt="iOS" class="img-fluid rounded" src="../../assets/images/portfolio/apple_logo.svg">
        </div>
    </div>
  </div>
</section>
