<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Platfrom Independent</h2>
        <p>
          Service-Link mobile integration offers support for a myriad of devices depending on the desires of the customer. We provide both multi-platform support – for iOS, Android, and Windows devices – and also multi-generational support. This allows our software to be used on cheaper and older devices, meaning mobile deployment with Service-Link is comparatively cheap. Service-Link also provides mobile solutions integrated with software such as SAP, EnQuesta, and Banner to allow for variability and versatility in mobile solutions to fit the customer’s context and desires. 
        </p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12">
        <h2>On-Premise Deployment</h2>
        <p>
          Service-Link provides On-Premise deployment of our mobile software which gives customers greater control over their data and ensures its safety. On-Premise is a reliable and secure way of automating one’s workforce. With installation and configuration of our On-Premise solution provided by us, this solution is an excellent choice if a customer desires more control over the implementation process and increased customisability of their software.
        </p>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-12">
        <h2>Our Impact...</h2>
        <div class="row">
          <div class="col-12 col-md-8">
            <p>
              Our primary market is the United States with some presence in Canada and the Caribbean. We have excellent relationships with
              our customers, which serve as strong references for our product and company:
            </p>
            <ul class="list-group">
              <li>Consolidated Edison is one of the largest investor-owned energy companies in the United States, with approximately
                $13 billion in annual revenues and over $36 billion in assets.</li>
              
              <li>Aqua America is the second largest publicly traded United States water utility, serving nearly three million
                people in eight states.</li>

              <li>BC Hydro is Canada’s third largest electric utility with 1.7 million customers and $5.87 billion in revenue.
                BC Hydro has been a Service-Link customer since 2000.</li>

              <li>Trinidad and Tobago Electricity Commission is the sole retailer of electricity in Trinidad and Tobago and has
                revenues of $2.7 billion.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <img class="img-fluid" alt="Customer Map" src="../assets/images/CustomerMap.svg" />
          </div>
        </div>
      </div>
    </div>-->
  </div> 
</section>
