<section class="bg-portfolio" id="portfolio">
  <div class="container">
      <ul>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-3 order-md-1">
                  <img alt="Rapid Deployment" class="img-fluid rounded" src="../../assets/images/portfolio/artificial_intelligence.svg">
              </div>
              <div class="col-12 col-md-9  order-md-2">
                  <p>
                    Service-Link locates, manages, automates, and optimizes mobile field service representative (FSRs) and their tasks. Service-Link specializes optimizing fieldwork activities and processes to improve productivity, effectiveness, and knowledge.  Our software provides real-time scheduling, optimization, routing, inventory, dashboarding, AVL, GIS, dispatch and mobile communications.
                  </p>
              </div>
          </li>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-3 order-md-2">
                  <img alt="Multi-Platform" class="img-fluid rounded" src="../../assets/images/portfolio/web_devices.svg">
              </div>
              <div class="col-12 col-md-9  order-md-1">
                  <p>
                    By combining wireless communication with real-time information exchange and global positioning, Service-Link enables utilities to streamline and automate many of the processes associated with field service. The result is improved mobile workforce performance at a lower operating cost.  For the typical utility company, two-thirds of employees are field-based. This makes the automation of field personnel and the extension of critical business applications to remote users a key opportunity for productivity improvement and cost reduction.

                    Our primary market is the United States with some presence in Canada and the Caribbean. We have excellent relationships with our customers, which serve as strong references for our product and company:
                  </p>
              </div>
          </li>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-6 order-md-2">
                  <img alt="Our Mission" class="img-fluid rounded" src="../../assets/images/portfolio/outer_space.svg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <i class="icon-drop text-purple display-3"></i>
                  <h3 class="h2">Our Mission</h3>
                  <p>
                      Our goal is to become the leader in providing utility based workforce management solutions. We strive to add continuous enhancements to our products that help further improvements in productivity and create better user experiences.
                  </p>
                  <a href="#">Tell me more ›</a>
              </div>
          </li>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-6 order-md-1">
                  <img alt="Company Details" class="img-fluid rounded" src="../../assets/images/portfolio/co-workers.svg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 order-md-2">
                  <i class="icon-drop text-purple display-3"></i>
                  <h3 class="h2">Who Are We?</h3>
                  <p>
                      West Coast Labour Systems was established in 2006. We provide technical consulting and software solutions for mobile workforce management. Our customer base includes large and small utilities across the United States and Canada. We have a team of experienced software professionals and we are available to provide excellent and timely support when needed.
                  </p>
                  <a href="#">Tell me more ›</a>
              </div>
          </li>
      </ul>
  </div>
  <br>
</section>