<section class="bg-portfolio" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>What we do...</h2>
        <p>
          Service-Link locates, manages, automates, and optimizes mobile field service representative (FSRs) and their tasks. Service-Link
          specializes optimizing fieldwork activities and processes to improve productivity, effectiveness, and knowledge.
          Our software provides real-time scheduling, optimization, routing, inventory, dashboarding, AVL, GIS, dispatch
          and mobile communications.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>How we do it...</h2>
        <p>
          By combining wireless communication with real-time information exchange and global positioning, Service-Link enables utilities
          to streamline and automate many of the processes associated with field service. The result is improved mobile workforce
          performance at a lower operating cost. For the typical utility company, two-thirds of employees are field-based.
          This makes the automation of field personnel and the extension of critical business applications to remote users
          a key opportunity for productivity improvement and cost reduction.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Our Impact...</h2>
        <div class="row">
          <div class="col-12 col-md-8">
            <p>
              Our primary market is the United States with some presence in Canada and the Caribbean. We have excellent relationships with
              our customers, which serve as strong references for our product and company:
            </p>
            <ul class="list-group">
              <li>Consolidated Edison is one of the largest investor-owned energy companies in the United States, with approximately
                $13 billion in annual revenues and over $36 billion in assets.</li>
              
              <li>Aqua America is the second largest publicly traded United States water utility, serving nearly three million
                people in eight states.</li>

              <li>BC Hydro is Canada’s third largest electric utility with 1.7 million customers and $5.87 billion in revenue.
                BC Hydro has been a Service-Link customer since 2000.</li>

              <li>Trinidad and Tobago Electricity Commission is the sole retailer of electricity in Trinidad and Tobago and has
                revenues of $2.7 billion.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <img class="img-fluid" alt="Customer Map" src="../assets/images/CustomerMap.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
