<section class="bg-portfolio" id="portfolio">
  <div class="container">
      <ul>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-6 order-md-2">
                  <img alt="Rapid Deployment" class="img-fluid rounded" src="../../assets/images/portfolio/artificial_intelligence.svg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <i class="icon-folder-music text-teal display-3"></i>
                  <h3 class="h2">Rapid Deployment</h3>
                  <p>
                      Service-Link’s data-centric architecture allows for its rapid deployment. Service-Link can be deployed much more quickly than traditional systems. This allows customers to benefit immediately from the features of Service-Link and dramatically reduces the project risk.
                  </p>
                  <a href="#">Compare plans and features ›</a>
              </div>
          </li>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-6 order-1">
                  <img alt="Multi-Platform" class="img-fluid rounded" src="../../assets/images/portfolio/web_devices.svg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 order-2">
                  <i class="icon-images text-red display-3"></i>
                  <h3 class="h2">In your Favorite Platforms</h3>
                  <p>
                      The Service-Link system allows total flexibility when it comes to deploying in the field. By offering Windows Mobile, Android, and Windows Desktop support, we cover the full range of device form factors and technologies.
                  </p>
                  <a href="#">View the detailed overview ›</a>
              </div>
          </li>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-6 order-md-2">
                  <img alt="Our Mission" class="img-fluid rounded" src="../../assets/images/portfolio/outer_space.svg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <i class="icon-drop text-purple display-3"></i>
                  <h3 class="h2">Our Mission</h3>
                  <p>
                      Our goal is to become the leader in providing utility based workforce management solutions. We strive to add continuous enhancements to our products that help further improvements in productivity and create better user experiences.
                  </p>
                  <a href="#">Tell me more ›</a>
              </div>
          </li>
          <li class="row align-items-center justify-content-around">
              <div class="col-12 col-md-6 order-md-2">
                  <img alt="Company Details" class="img-fluid rounded" src="../../assets/images/portfolio/co-workers.svg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <i class="icon-drop text-purple display-3"></i>
                  <h3 class="h2">Who Are We?</h3>
                  <p>
                      West Coast Labour Systems was established in 2006. We provide technical consulting and software solutions for mobile workforce management. Our customer base includes large and small utilities across the United States and Canada. We have a team of experienced software professionals and we are available to provide excellent and timely support when needed.
                  </p>
                  <a href="#">Tell me more ›</a>
              </div>
          </li>
      </ul>
  </div>
  <br>
  <div class="container text-center">
      <h2 class="mb-4">Request a Free Demo!</h2>
      <a class="btn btn-dark btn-xl sr-button" href="#">Request Demo!</a>
  </div>
</section>
