<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div style="text-align:center" class="mb-3 sr-icons text-primary">
            <fa-icon [icon]="faUniversalAccess" size="4x"></fa-icon>
          </div>
          <h3 class="mb-3">Mobile</h3>
          <p class="text-muted mb-0">Service-Link extends data communications to field workers by supporting the leading private and public wireless
            data networks. Service-Link also enables work orders to be downloaded to mobile devices via dial-up network cards
            or docking stations.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div style="text-align:center" class="mb-3 sr-icons text-primary">
            <fa-icon [icon]="faPaperPlane" size="4x"></fa-icon>
          </div>
          <h3 class="mb-3">Workforce</h3>
          <p class="text-muted mb-0">Most mobile workforce management systems typically take six months or more to implement. With our off-the-shelf
            simplicity, Service-Link takes a fraction of the time to fully deploy, allowing utilities to begin realizing
            the full benefits of online workforce management sooner.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <div style="text-align:center" class="mb-3 sr-icons text-primary">
            <fa-icon [icon]="faPeopleCarry" size="4x"></fa-icon>
          </div>
          <h3 class="mb-3">Management</h3>
          <p class="text-muted mb-0">Service-Link uses the internet and wireless communications to provide a leading edge workforce management solution
            that enables you to reduce costs,increase operational efficiency and improve customer satisfaction. Best of all,
            you can do it for minimal cost, with minimal difficulty, and minimal IT resources.</p>
        </div>
      </div>
    </div>
  </div>
</section>
