<nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'navbar-shrink': pageScrolled }" id="mainNav">
    <a class="navbar-brand" pageScroll href=".pageTop">
      <img alt="Service-Link Logo" class="d-inline-block align-top" src='../assets/images/ServiceLinkLogo.svg' />
      Service-Link
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" [ngClass]='{navLinkBackground: !pageScrolled}'>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="#customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="#contact">Contact</a>
        </li>
      </ul>
    </div>
</nav>
